/*
Desktop First

Usiamo max width, dalla più grande alla più piccola
*/

@media screen and (max-width: 1400px) {

    /* .scopri-bar {
        display: none;
    }    
} */

@media screen and (max-width: 1100px) {
    .col-1-4 {
        flex-basis: calc((100% / 4) - var(--card-gap));
    }

    .menu-list-bar li:nth-child(6) {
        display: none;
    }

    .scopri-bar ul {
        list-style: none;
    }

    .scopri-bar li:nth-child(1),.scopri-bar li:nth-child(2) {
        display: none;
    }

    .scopri-bar ul li a {
        text-decoration: none;
        color: #7D7F85;
        font-weight: bold;
    }
        
    }

@media screen and (max-width: 700px) {
    .col-1-2 {
        flex-basis: calc((100% / 2) - var(--card-gap));
    }

    .menu-list-bar li:nth-child(4),.menu-list-bar li:nth-child(5) {
        display: none;
    }

    /* Non riesco a inserire correttamente le altre due opzioni nella scopri-bar */

    .scopri-bar li:nth-child(3) {
        display: none;
    }

    .secondary-menu-list-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (max-width: 600px) {
}
